In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = (
    SparkSession.builder.appName("ADS project 2")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.executor.memory", "2g")
    .config("spark.driver.memory", "4g")
    .getOrCreate()
)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/01 01:13:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
data_loc = "../data/tables/"
consumer = spark.read.parquet(data_loc+"consumer_user_details.parquet")
tbl_consumer = spark.read.csv(data_loc+"tbl_consumer.csv", sep="|", header=True)
tbl_merchant = spark.read.parquet(data_loc+"tbl_merchants.parquet")
transact = spark.read.parquet(data_loc+"transactions_20210228_20210827_snapshot/")

<h2> 1. Standardize column format of tables</h2>

<h3>1.1 "tbl_merchants.parquet"</h3>

In [3]:
tbl_merchant.show(5)

+--------------------+--------------------+------------+
|                name|                tags|merchant_abn|
+--------------------+--------------------+------------+
|       Felis Limited|((furniture, home...| 10023283211|
|Arcu Ac Orci Corp...|([cable, satellit...| 10142254217|
|    Nunc Sed Company|([jewelry, watch,...| 10165489824|
|Ultricies Digniss...|([wAtch, clock, a...| 10187291046|
| Enim Condimentum PC|([music shops - m...| 10192359162|
+--------------------+--------------------+------------+
only showing top 5 rows

In [4]:
# separate "tags" into "products", "revenue_level", "take_rate"
preprocessed_tbl_merchant = tbl_merchant.withColumn("split_tags", split(col("tags"), ",")) \
            .withColumn("take_rate", element_at(col("split_tags"), -1)) \
            .withColumn("revenue_level", element_at(col("split_tags"), -2)) \
            .withColumn("products", slice(reverse(col("split_tags")), 3, 100)) \
            .withColumn("products", reverse(col("products")))

In [5]:
# remove the special characters of "revenue_level" and "take_rate"
preprocessed_tbl_merchant = preprocessed_tbl_merchant.withColumn("revenue_level", regexp_replace("revenue_level", "[^a-e]", "")) \
                                                     .withColumn("take_rate", regexp_replace("take_rate", "[^0-9.]", ""))

In [6]:
# standardize the values in "products" and vectorize "products" into the bags of word
preprocessed_tbl_merchant = preprocessed_tbl_merchant.withColumn("products", concat_ws(",", col("products"))) \
                                                     .withColumn("products", regexp_replace("products", "[^A-Za-z0-9]", " ")) \
                                                     .withColumn("products", regexp_replace("products", "\s+", " ")) \
                                                     .withColumn("products", regexp_replace("products", "(^\s+)|(\s+$)", "")) \
                                                     .withColumn("products", lower(col("products"))) \
                                                     .withColumn("products", split(col("products"), " "))

In [7]:
preprocessed_tbl_merchant = preprocessed_tbl_merchant.withColumnRenamed("name", "merchant_name")
preprocessed_tbl_merchant = preprocessed_tbl_merchant.select("merchant_name", "products", "revenue_level", "take_rate", "merchant_abn")

In [8]:
preprocessed_tbl_merchant.show(5)

+--------------------+--------------------+-------------+---------+------------+
|       merchant_name|            products|revenue_level|take_rate|merchant_abn|
+--------------------+--------------------+-------------+---------+------------+
|       Felis Limited|[furniture, home,...|            e|     0.18| 10023283211|
|Arcu Ac Orci Corp...|[cable, satellite...|            b|     4.22| 10142254217|
|    Nunc Sed Company|[jewelry, watch, ...|            b|     4.40| 10165489824|
|Ultricies Digniss...|[watch, clock, an...|            b|     3.29| 10187291046|
| Enim Condimentum PC|[music, shops, mu...|            a|     6.33| 10192359162|
+--------------------+--------------------+-------------+---------+------------+
only showing top 5 rows

<h3>1.2 "transactions_20210228_20210827_snapshot"</h3>

In [9]:
transact.show(5)

+-------+------------+------------------+--------------------+--------------+
|user_id|merchant_abn|      dollar_value|            order_id|order_datetime|
+-------+------------+------------------+--------------------+--------------+
|  18478| 62191208634|63.255848959735246|949a63c8-29f7-4ab...|    2021-08-20|
|      2| 15549624934| 130.3505283105634|6a84c3cf-612a-457...|    2021-08-20|
|  18479| 64403598239|120.15860593212783|b10dcc33-e53f-425...|    2021-08-20|
|      3| 60956456424| 136.6785200286976|0f09c5a5-784e-447...|    2021-08-20|
|  18479| 94493496784| 72.96316578355305|f6c78c1a-4600-4c5...|    2021-08-20|
+-------+------------+------------------+--------------------+--------------+
only showing top 5 rows

In [10]:
# separate pickup datetime into date, year, month and day
preprocessed_transact = transact.withColumn('order_year', year(col('order_datetime')))
preprocessed_transact = preprocessed_transact.withColumn('order_month', month(col('order_datetime')))
preprocessed_transact = preprocessed_transact.withColumn('order_day', dayofmonth(col('order_datetime')))
preprocessed_transact = preprocessed_transact.withColumnRenamed('merchant_abn', 'merchant_abn_repeat')

In [11]:
preprocessed_transact.show(5)

+-------+-------------------+------------------+--------------------+--------------+----------+-----------+---------+
|user_id|merchant_abn_repeat|      dollar_value|            order_id|order_datetime|order_year|order_month|order_day|
+-------+-------------------+------------------+--------------------+--------------+----------+-----------+---------+
|  18478|        62191208634|63.255848959735246|949a63c8-29f7-4ab...|    2021-08-20|      2021|          8|       20|
|      2|        15549624934| 130.3505283105634|6a84c3cf-612a-457...|    2021-08-20|      2021|          8|       20|
|  18479|        64403598239|120.15860593212783|b10dcc33-e53f-425...|    2021-08-20|      2021|          8|       20|
|      3|        60956456424| 136.6785200286976|0f09c5a5-784e-447...|    2021-08-20|      2021|          8|       20|
|  18479|        94493496784| 72.96316578355305|f6c78c1a-4600-4c5...|    2021-08-20|      2021|          8|       20|
+-------+-------------------+------------------+--------------------+--------------+----------+-----------+---------+
only showing top 5 rows

<h3>1.3 "tbl_consumer.csv"</h3>

In [12]:
tbl_consumer.show(5)

+-----------------+--------------------+-----+--------+------+-----------+
|             name|             address|state|postcode|gender|consumer_id|
+-----------------+--------------------+-----+--------+------+-----------+
| Yolanda Williams|413 Haney Gardens...|   WA|    6935|Female|    1195503|
|       Mary Smith|     3764 Amber Oval|  NSW|    2782|Female|     179208|
|    Jill Jones MD|  40693 Henry Greens|   NT|     862|Female|    1194530|
|  Lindsay Jimenez|00653 Davenport C...|  NSW|    2780|Female|     154128|
|Rebecca Blanchard|9271 Michael Mano...|   WA|    6355|Female|     712975|
+-----------------+--------------------+-----+--------+------+-----------+
only showing top 5 rows

In [13]:
preprocessed_tbl_consumer = tbl_consumer.withColumnRenamed("name", "consumer")
preprocessed_tbl_consumer = preprocessed_tbl_consumer.withColumnRenamed("address", "consumer_address")
preprocessed_tbl_consumer = preprocessed_tbl_consumer.withColumnRenamed("state", "consumer_state")
preprocessed_tbl_consumer = preprocessed_tbl_consumer.withColumnRenamed("postcode", "consumer_postcode")
preprocessed_tbl_consumer = preprocessed_tbl_consumer.withColumnRenamed("gender", "consumer_gender")

In [14]:
preprocessed_tbl_consumer.show(5)

+-----------------+--------------------+--------------+-----------------+---------------+-----------+
|         consumer|    consumer_address|consumer_state|consumer_postcode|consumer_gender|consumer_id|
+-----------------+--------------------+--------------+-----------------+---------------+-----------+
| Yolanda Williams|413 Haney Gardens...|            WA|             6935|         Female|    1195503|
|       Mary Smith|     3764 Amber Oval|           NSW|             2782|         Female|     179208|
|    Jill Jones MD|  40693 Henry Greens|            NT|              862|         Female|    1194530|
|  Lindsay Jimenez|00653 Davenport C...|           NSW|             2780|         Female|     154128|
|Rebecca Blanchard|9271 Michael Mano...|            WA|             6355|         Female|     712975|
+-----------------+--------------------+--------------+-----------------+---------------+-----------+
only showing top 5 rows

<h3>1.4 "consumer.parquet"</h3>

In [15]:
consumer.show(5)

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
+-------+-----------+
only showing top 5 rows

In [16]:
preprocessed_consumer = consumer.withColumnRenamed("user_id", "user_id_repeat")
preprocessed_consumer = preprocessed_consumer.withColumnRenamed("consumer_id", "consumer_id_repeat")

In [17]:
preprocessed_consumer.show(5)

+--------------+------------------+
|user_id_repeat|consumer_id_repeat|
+--------------+------------------+
|             1|           1195503|
|             2|            179208|
|             3|           1194530|
|             4|            154128|
|             5|            712975|
+--------------+------------------+
only showing top 5 rows

<h2>2. Join tables</h2>

In [22]:
preprocessed_tbl_merchant.createOrReplaceTempView('merchant')
preprocessed_transact.createOrReplaceTempView('transact')
preprocessed_tbl_consumer.createOrReplaceTempView('tbl_consumer')
preprocessed_consumer.createOrReplaceTempView('consumer')

join = spark.sql("""
SELECT 
    *
FROM 
    merchant
INNER JOIN
    transact
ON 
    transact.merchant_abn_repeat = merchant.merchant_abn
INNER JOIN
    consumer
ON
    transact.user_id = consumer.user_id_repeat
INNER JOIN
    tbl_consumer
ON 
    consumer.consumer_id_repeat = tbl_consumer.consumer_id
ORDER BY
    revenue_level DESC
""")

join = join.drop("merchant_abn_repeat", "consumer_id_repeat", "user_id_repeat", "merchant_abn", "consumer_id", "user_id", "order_id", "order_datetime")

In [23]:
join

+--------------------+--------------------+-------------+---------+------------------+----------+-----------+---------+----------------+--------------------+--------------+-----------------+---------------+
|       merchant_name|            products|revenue_level|take_rate|      dollar_value|order_year|order_month|order_day|        consumer|    consumer_address|consumer_state|consumer_postcode|consumer_gender|
+--------------------+--------------------+-------------+---------+------------------+----------+-----------+---------+----------------+--------------------+--------------+-----------------+---------------+
|Metus Sit Amet In...|[cable, satellite...|            e|     0.38| 48.55637942130284|      2021|          3|        5|    Carol Kelley|79229 Tiffany Str...|           NSW|             2768|         Female|
|Lacus Mauris Asso...|       [shoe, shops]|            e|     0.48| 306.2836044736155|      2021|          6|        7|    Janice Payne|397 Dudley Cliff ...|            WA|             6514|         Female|
|Lacus Mauris Asso...|       [shoe, shops]|            e|     0.48|310.20043945437243|      2021|          4|        7|    Carol Kelley|79229 Tiffany Str...|           NSW|             2768|         Female|
|Metus Sit Amet In...|[cable, satellite...|            e|     0.38| 76.89269476929852|      2021|          7|        4| Courtney Torres| 6945 Higgins Brooks|            SA|             5581|         Female|
|Augue Eu Tempor A...|[cable, satellite...|            e|     0.38| 32.38583077052173|      2021|          5|       14|   Pamela Parker|93935 Claudia Ove...|           VIC|             3420|         Female|
|        Nunc Est LLP|[watch, clock, an...|            e|     0.22|34.991830355501236|      2021|          7|       30|  Devin Martinez|6431 Morrison Par...|           VIC|             3793|           Male|
|Non Lobortis Corp...|[computer, progra...|            e|     0.36|108.35386326892124|      2021|          4|       21|   Pamela Parker|93935 Claudia Ove...|           VIC|             3420|         Female|
|Augue Eu Tempor A...|[cable, satellite...|            e|     0.38| 86.99620793477416|      2021|          8|       23|  Rachel Stevens|2093 Valenzuela K...|           NSW|             2163|         Female|
|       Felis Limited|[furniture, home,...|            e|     0.18|235.95016198511814|      2021|          4|       11|   Pamela Parker|93935 Claudia Ove...|           VIC|             3420|         Female|
|   Quis Turpis Corp.|[tent, and, awnin...|            e|     0.48|1400.4149012702117|      2021|          6|        4|    Joshua Clark|539 Robert Mill S...|           NSW|             2559|           Male|
|        Nunc Est LLP|[watch, clock, an...|            e|     0.22|27.072040438748342|      2021|          5|       24|    Kelly Thomas|6248 Holt Points ...|           NSW|             2477|         Female|
|  Et Nunc Consulting|[books, periodica...|            e|     0.16|47.692738168026644|      2021|          5|       22|  Carrie Mcguire|418 Shields Alley...|            WA|             6572|         Female|
|Metus Sit Amet In...|[cable, satellite...|            e|     0.38|53.612312220810715|      2021|          6|        1|    Kelly Thomas|6248 Holt Points ...|           NSW|             2477|         Female|
|Non Lobortis Corp...|[computer, progra...|            e|     0.36| 186.8460977820335|      2021|          5|       18| Denise Jennings|  56970 Chavez Manor|           TAS|             7185|         Female|
|  Et Nunc Consulting|[books, periodica...|            e|     0.16| 40.21657290471898|      2021|          5|        7|    David Barker|     006 Joanne Glen|           TAS|             7320|           Male|
|Non Lobortis Corp...|[computer, progra...|            e|     0.36| 63.09527788110735|      2021|          5|       25|    Phyllis Cole|53835 Cisneros Un...|           VIC|             3336|         Female|
|  Et Nunc Consulting|[books, periodica...|            e|     0.16| 61.16440675562517|      2021|          6|        8|   Brenda Miller|42070 Colleen Spring|           NSW|             2359|    Undisclosed|
|Metus Sit Amet In...|[cable, satellite...|            e|     0.38|17.710122522919047|      2021|          7|       30|  Rachel Stevens|2093 Valenzuela K...|           NSW|             2163|         Female|
|  Et Nunc Consulting|[books, periodica...|            e|     0.16|19.078139995358068|      2021|          8|       27|Katherine Warren|66643 Chambers Me...|            WA|             6152|    Undisclosed|
|        Nunc Est LLP|[watch, clock, an...|            e|     0.22|119.10880470862027|      2021|          3|       27|     Lucas Payne|2153 Bell Club Ap...|           NSW|             1236|           Male|
+--------------------+--------------------+-------------+---------+------------------+----------+-----------+---------+----------------+--------------------+--------------+-----------------+---------------+
only showing top 20 rows